.container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    
}

.content{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    
}
.eventos{
        width: 100%;
        height: 50%;
        display: grid;
        justify-content: center;
        grid-column: 3;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 40px 20px 20px 20px ;
        gap: 10px;
}

.title-events{
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title-events p{
padding-top: 10px;
max-width: 800px;
margin: auto;
    
}
.texto{
    padding-top: 10px;
    max-width: 800px;
}
.texto p{
    margin-top: 5px;
}

/* Hero styles */

.hero{
width: 100%;
gap: 10px;
background-color: red;
/* min-height: 700px; */

background-image: url('https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
background-size: cover;
background-position: center;
height:100%;
}

.hero-left{
  display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 70px;

}

.hero{
color: white;
}

.overlay{
    background-color: rgba(0 ,0, 0 ,0.5);
    width: 100%;
}

.info{
    max-width: 500px;
}

.registrate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    padding: 25px;
    gap: 10px;
}
.btn-registrate{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-registrate{
    width: 100%;
    object-fit: cover;
}

